<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yc.ssh.admin.base.mybatis.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="cn.yc.ssh.admin.base.mybatis.model.Role" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="ROLE" property="role" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="DECIMAL" />
    <result column="CREATE_PERSION" property="createPersion" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="DATE" />
    <result column="UPDATE_PERSON" property="updatePerson" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, ROLE, STATE, CREATE_PERSION, CREATE_TIME, UPDATE_PERSON, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_ROLE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="cn.yc.ssh.admin.base.mybatis.model.Role" >
    select 
    <include refid="Base_Column_List" />
    from SYS_ROLE
    <where>
    	<if test="role != null and role!=''" >
        and ROLE= #{role,jdbcType=VARCHAR}
      </if>
    	<if test="name != null and name!=''" >
        and name= #{name,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="findAll" resultMap="BaseResultMap" parameterType="cn.yc.ssh.admin.base.mybatis.model.Role" >
    select 
    <include refid="Base_Column_List" />
    from SYS_ROLE
    <where>
    	<if test="role != null and role!=''" >
        and ROLE= #{role,jdbcType=VARCHAR}
      </if>
    	<if test="name != null and name!=''" >
        and name= #{name,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectByUser" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_ROLE r where exists (select * from sys_user_role where role_id=r.id and user_id=#{userId,jdbcType=DECIMAL}) 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_ROLE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="cn.yc.ssh.admin.base.mybatis.model.Role" >
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="id"> 
            SELECT LAST_INSERT_ID()
        </selectKey>
    insert into SYS_ROLE (ID, NAME, ROLE, 
      STATE, CREATE_PERSION, CREATE_TIME, 
      UPDATE_PERSON, UPDATE_TIME)
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{role,jdbcType=VARCHAR}, 
      #{state,jdbcType=DECIMAL}, #{createPersion,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, 
      #{updatePerson,jdbcType=VARCHAR}, #{updateTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="cn.yc.ssh.admin.base.mybatis.model.Role" >
    insert into SYS_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="role != null" >
        ROLE,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="createPersion != null" >
        CREATE_PERSION,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updatePerson != null" >
        UPDATE_PERSON,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=DECIMAL},
      </if>
      <if test="createPersion != null" >
        #{createPersion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updatePerson != null" >
        #{updatePerson,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.yc.ssh.admin.base.mybatis.model.Role" >
    update SYS_ROLE
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        ROLE = #{role,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=DECIMAL},
      </if>
      <if test="createPersion != null" >
        CREATE_PERSION = #{createPersion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=DATE},
      </if>
      <if test="updatePerson != null" >
        UPDATE_PERSON = #{updatePerson,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.yc.ssh.admin.base.mybatis.model.Role" >
    update SYS_ROLE
    set NAME = #{name,jdbcType=VARCHAR},
      ROLE = #{role,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=DECIMAL},
      CREATE_PERSION = #{createPersion,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=DATE},
      UPDATE_PERSON = #{updatePerson,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=DATE}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>